@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:yellowgreen;
    font-family: 'Roboto', sans-serif;
}

.qr_code{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    background-color: aliceblue;
    border-radius: 10px;
}

.qr_code p{
    padding-top: 20px;
    padding-left: 23px;
    box-shadow: 50px 20px 70px rgba(250, 14, 14, 0.984);
}

.qr_code input{
   width: 100%;
   height: 50px;
   border: 1px solid white;
   outline: 0;
   padding: 10px;
   margin: 10px 0 20px;
   border-radius: 5px;
   box-shadow: 50px 20px 70px rgba(250, 14, 14, 0.984);
}

.qr_code button{
    width: 100%;
    height: 50px;background: blue;
    color: whitesmoke;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 50px 20px 70px rgba(250, 14, 14, 0.984);
    cursor: pointer;
    margin: 20px 0;
    font-family: 500;
}